.gameboard {
	display: table;
	margin: 0 auto;
	/*width: 320px;*/
	position: relative;
}


.block {
	
	display: inline-block;
	/*display: table-row;*/
	width: 0px;
	height: 0px;
	padding: 100px;
	border: 1px solid black;
	/*background-color: #CCA37A;*/
	/*background: url(/img/mole.png) no-repeat center;*/
}

.img-class {
	background: url(/img/mole.png) no-repeat center center;
	/*list-style-image: */
}

h1 {
	text-align: center;
}

.center-image {
	
}

.start-button {
	position:absolute;
	/*85*/
	padding: 50px;
	margin-left: -205px;
	margin-top: 10px;
	background-color: #CCA37A;
}


.start-button:focus {
	outline: none;
}